.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: left;
    max-width: 910px;
    overflow-x: hidden;
}

.about > div:not(.marquee) {
    width: 100%;
    padding: 16px;
}

.name {
    font-size: 5rem;
    width: fit-content;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-color: #51e1a9;
    background-image: linear-gradient(
        95.01deg,
        rgba(65, 5, 176, 0) 24.86%,
        rgba(65, 5, 176, 0.5) 75.14%
    );
}

.role {
    font-size: 1.5rem;
    font-weight: 200;
}

.objective {
    font-size: 1.5rem;
}

.blink {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
