.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
}

.logos {
    display: flex;
    border-right: 1px solid #eeeeee;
    height: 100%;
    width: 20vw;
    flex-direction: column;
    justify-content: space-around;
}

.logos div {
    display: flex;
}

.logos div h4 {
    writing-mode: sideways-lr;
    font-weight: 400;
    color: #eeeeee;
    margin: 0px;
}

.logos img {
    width: 6vw;
    min-width: 80px;
    aspect-ratio: 3/2;
}

.logo:hover,
.logo:active {
    text-shadow: 0 0 2px #eeeeee;
    filter: drop-shadow(0px 0px 2px #eeeeee);
}

.form fieldset {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4);
    align-content: center;
    justify-items: center;
    align-items: center;
    border-color: #eeeeee;
}

.form input {
    background-color: #242424;
    color: #eeeeee;
    border: 2px solid #eeeeee;
    border-radius: 4px;
    margin: 10px;
    padding: 10px;
    width: 25vw;
}

.form input:focus {
    outline: 1px solid rgb(var(--primary));
}

.form input[type="textarea"] {
    height: 15vh;
}

.form button {
    width: 45%;
    background-color: #242424;
    color: #eeeeee;
    padding: 10px;
}

@media (max-width: 768px) {
    .logos {
        flex-direction: row;
        border-bottom: 1px solid rgb(238, 238, 238);
        border-right: none;
        width: 100vw;
        height: 20vh;
    }
    .logos div {
        flex-direction: column-reverse;
        align-items: center;
    }
    .logos div h4 {
        writing-mode: horizontal-tb;
        font-size: 1.5rem;
    }
    .logo {
        text-shadow: 0 0 2px #eeeeee;
        filter: drop-shadow(0px 0px 2px #eeeeee);
    }
    .logo:active,
    .logo:hover {
        text-shadow: none;
        filter: none;
    }
    a {
        text-decoration: none;
    }
    .contact {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .form input {
        width: 70vw;
    }
}
