.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 4rem);
    display: none;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes glow {
    0% {
        text-shadow: 0 0 1rem rgba(238, 238, 238, 1);
    }
    100% {
        text-shadow: none;
    }
}

@media screen and (max-width: 768px) {
    ul li:last-child {
        animation: glow 1s infinite;
    }
}
